In [1]:
import warnings
import os
import sys


warnings.simplefilter("ignore")
current_dir = os.getcwd()

project_root = current_dir.split("\\examples")[0]

sys.path.append(project_root)

from  sloyka  import GeoDataGetter
from sloyka import OSM_TAGS

geo_data_getter = GeoDataGetter()

tdict = [(category, category_tags) for category, category_tags in OSM_TAGS.items()]
test_gdf = geo_data_getter.get_features_from_id(osm_id=421007, tags={tdict[0][0]: tdict[0][1]})
test_gdf

Processing category subway: 100%|██████████| 1/1 [00:01<00:00,  1.01s/it]

,tag,element_type,osmid,name,geometry,centroid
0,subway,node,92580819,Садовая,POINT (30.31938 59.92760),POINT (3375138.221 8383637.192)
1,subway,node,94857612,Сенная площадь,POINT (30.32005 59.92598),POINT (3375212.137 8383275.936)
2,subway,node,94858991,Достоевская,POINT (30.34583 59.92683),POINT (3378081.931 8383464.582)
3,subway,node,94877075,Лиговский проспект,POINT (30.35928 59.92159),POINT (3379579.034 8382302.263)
4,subway,node,94890886,Площадь Александра Невского 1,POINT (30.38683 59.92335),POINT (3382645.919 8382692.814)
...,...,...,...,...,...,...
300,subway,way,664603517,NaN,"POLYGON ((30.32073 60.03478, 30.32088 60.03477...",POINT (3375321.035 8407606.788)
301,subway,way,664603518,NaN,"POLYGON ((30.33272 60.04893, 30.33334 60.04992...",POINT (3376644.534 8410751.243)
302,subway,way,664610320,Удельная,"POLYGON ((30.31753 60.01748, 30.31899 60.01828...",POINT (3375002.282 8403729.863)
303,subway,relation,4069761,NaN,"POLYGON ((30.29211 59.96001, 30.29229 59.96002...",POINT (3372136.931 8390689.722)
304,subway,relation,9269450,NaN,"POLYGON ((30.25562 60.01080, 30.25568 60.01082...",POINT (3368140.394 8402029.056)