Тест

In [1]:
import warnings

warnings.simplefilter("ignore")

import os
import sys

folder = os.getcwd().split("\\examples")[0]
sys.path.append(folder)

from sloyka import EmotionRecognizer

INFO: Pandarallel will run on -1 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kozak\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

2024-06-07 14:47:59,100 SequenceTagger predicts: Dictionary with 7 tags: O, S-Service, B-Service, E-Service, I-Service, <START>, <STOP>

In [11]:
#загрузка датафрейма
import pandas as pd
df = pd.read_csv('C:/Users/kozak/OneDrive/Рабочий стол/итмо поступление/НИРМА/sloyka/sloyka/sample_data/raw/comments_grazhdanka_spb_kalininsky.csv', sep = ';', index_col=0)

In [4]:
df

,name,last_name,date,text,post_id
1370336,Sergey,Nazarov,2023-01-17,Русская Гражданка заканчивалась сразу за кварт...,1370265.0
1370324,Anna,Fomina,2023-01-17,Маленькая школа получилась.. всего 550 мест..,1370271.0
1370319,Viktoria,Agu,2023-01-17,"Главное, что бы все вышеперечисленное работало...",1370271.0
1370278,Irina,Vladimirovna,2023-01-16,"А кто знает,почему от этой школы шарахались,ка...",1370271.0
1370412,Alya,Dzhafarova,2023-01-17,"Интересно ,а как в нее можно попасть?Если в 3 ...",1370271.0

Определение эмоции, используя одну модель. По умолчанию стоит модель HuggingFaceModel.Text.Bert_Large, но можно использовать также HuggingFaceModel.Text.Bert_Tiny, HuggingFaceModel.Text.Bert_Base, HuggingFaceModel.Text.Bert_Tiny2

In [5]:
recognizer = EmotionRecognizer()
df['emotion'] = df['text'].apply(recognizer.recognize_emotion)

In [6]:
df

,name,last_name,date,text,post_id,emotion
1370336,Sergey,Nazarov,2023-01-17,Русская Гражданка заканчивалась сразу за кварт...,1370265.0,neutral
1370324,Anna,Fomina,2023-01-17,Маленькая школа получилась.. всего 550 мест..,1370271.0,sadness
1370319,Viktoria,Agu,2023-01-17,"Главное, что бы все вышеперечисленное работало...",1370271.0,neutral
1370278,Irina,Vladimirovna,2023-01-16,"А кто знает,почему от этой школы шарахались,ка...",1370271.0,enthusiasm
1370412,Alya,Dzhafarova,2023-01-17,"Интересно ,а как в нее можно попасть?Если в 3 ...",1370271.0,enthusiasm

Возможно более точный способ. Берёт среднее из нескольких моделей и возвращает доминирующую эмоцию, если указано average=True, или просто самую максимальную вероятность эмоции из моделей, если verage=False.

In [4]:
#df=df.head(100)
# Создание экземпляра класса EmotionRecognizer
emotion_recognizer = EmotionRecognizer()

# Применение функции recognize_average_emotion_from_multiple_models ко всем строкам DataFrame. 
# При average=True подсчёт будет по среднему значению.
# При average=False подсчёт будет по максимальному значению.
df['emotion_average'] = emotion_recognizer.recognize_average_emotion_from_multiple_models(df, 'text', average=True)

In [5]:
df

,name,last_name,date,text,post_id
1370336,Sergey,Nazarov,2023-01-17,Русская Гражданка заканчивалась сразу за кварт...,1370265.0
1370324,Anna,Fomina,2023-01-17,Маленькая школа получилась.. всего 550 мест..,1370271.0
1370319,Viktoria,Agu,2023-01-17,"Главное, что бы все вышеперечисленное работало...",1370271.0
1370278,Irina,Vladimirovna,2023-01-16,"А кто знает,почему от этой школы шарахались,ка...",1370271.0
1370412,Alya,Dzhafarova,2023-01-17,"Интересно ,а как в нее можно попасть?Если в 3 ...",1370271.0
...,...,...,...,...,...
1370825,Nina,Khryakova,2023-01-19,Очень вкусная и отличная продукция все натурал...,1370426.0
1370547,Vika,Lee,2023-01-18,Не жрать что попало ))),1370468.0
1370537,Vyacheslav,Slivkin,2023-01-17,Есть в основной массе белки и сложные углеводы...,1370468.0
1370529,Vitek,Sokol,2023-01-17,Первитин или аналоги.,1370468.0
1370526,Agness,Reyn,2023-01-17,Кормление ребенка грудью отлично убирает вес. ...,1370468.0