In [ ]:
import warnings

warnings.simplefilter("ignore")

import os
import sys

folder = os.getcwd().split("\\examples")[0]
sys.path.append(folder)

from sloyka import VkCommentsParser, VkPostGetter

In [2]:
owner_id = "-60463565" # –≥—Ä—É–ø–ø–∞ "–¥–µ–≤—è—Ç–∫–∏–Ω–æ –æ–Ω–ª–∞–π–Ω"
token = ''

In [3]:
post_num_limit = 10
step = 10
#–í—ã–∑–æ–≤ –º–µ—Ç–æ–¥–∞
post_ids = VkPostGetter.get_group_post_ids(owner_id, token, post_num_limit, step)

print(len(post_ids))

10

In [5]:
posts = VkPostGetter.run(owner_id, token, 100, "2024-01-01")

2024-02-21 00:53:05
2024-02-09 11:11:06
2024-01-26 21:15:00
2024-01-13 20:04:00
2024-01-02 17:17:00
2023-12-22 12:32:47
finished

In [5]:
comments_num = 30

# –í—ã–∑–æ–≤ –º–µ—Ç–æ–¥–∞
result = VkCommentsParser.get_Comments(post_ids, owner_id, token, comments_num=comments_num)

 60%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà    | 6/10 [00:17<00:11,  2.86s/it]

In [6]:
posts.sample(3)

,date,id,text,views.count,likes.count,reposts.count,link
536,2023-12-29 17:35:59,2652281,–Æ–Ω—ã–µ –º—É—Ä–∏–Ω—Ü—ã —Å–ª–µ–ø–∏–ª–∏ –¥–æ—Å—Ç—É–ø–Ω–æ–µ –∂–∏–ª—å–µ–ù–∞ —á—Ç–æ –µ—â–µ...,11583,57,12,NaN
444,2024-01-08 22:02:00,2655847,–ß–µ–π –∫–æ—Ç–µ–π–∫–∞ –≤–æ –¥–≤–æ—Ä–µ –®—É–≤–∞–ª–æ–≤–∞ 40 –ø—Ä—è–º–æ —Å–µ–π—á–∞—Å....,16162,47,16,NaN
105,2024-02-20 09:36:01,2674916,–•–æ—á—É —Å–∫–∞–∑–∞—Ç—å —Å–ø–∞—Å–∏–±–æ –±–æ–ª—å—à–æ–µ –∏ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–æ–µ —Å–ø...,15815,65,10,NaN

In [5]:
result.sample(3)

,name,last_name,date,likes,text,post_id
2672680,Elena,Konik,2024-02-13,0,–ö–∏–¥–∞–π—Ç–µ —Å–≤–æ–∏ —Ñ–æ—Ç–∫–∏!,2672649
2672684,Nstasy,Jule,2024-02-13,1,–ù–æ —ç—Ç–æ –Ω–µ –î–µ–≤—è—Ç–∫–∏–Ω–æ))) —Å—É–¥—è –ø–æ –¥–æ–º—É;))üôÉ,2672649
2672603,Alexander,Komogortsev,2024-02-13,6,–ó–Ω–∞—á–∏—Ç –æ–Ω–∞ –æ–±—â–∞–µ—Ç—Å—è —Å –¥—Ä—É–≥–∏–º–∏ –ø–∞—Ä–Ω—è–º–∏. –ü–æ–≤–µ—Ä—å....,2672582

In [3]:
owner_id='-129354225',
post_ids= ['332329', '332275']
access_token=''

# –í—ã–∑–æ–≤ –º–µ—Ç–æ–¥–∞
result_df = CommentsReply.run(owner_id, post_ids, access_token)

In [4]:
result_df.sample(3)

,id,date,text,post_id,parents_stack,likes_count
21,332400,2024-03-14 10:07:38,[club129354225|–¶–µ–Ω—Ç—Ä–∞–ª—å–Ω—ã–π —Ä–∞–π–æ–Ω –∑–∞ –∫–æ–º—Ñ–æ—Ä—Ç–Ω—É—é...,332329,[332341],0
27,332407,2024-03-14 10:15:22,"[id71624853|–Æ—Ä–∏–π], —Å–æ–±—Ä–∞–Ω–∏—è, –∫–∞–∫–æ–≥–æ?,—è –æ –Ω–µ–º –Ω...",332329,[332341],0
36,332350,2024-03-13 18:28:39,"–í–æ—Ç —ç—Ç–æ –ø—Ä–µ–∫—Ä–∞—Å–Ω–æ!!! \n–¢—É—Ç –∏ –≤–æ–∑—Ä–∞–∑–∏—Ç—å –Ω–µ—á–µ–≥–æ,...",332329,[],8