In [2]:
import warnings

warnings.simplefilter("ignore")

import os
import sys

folder = os.getcwd().split("\\examples")[0]
sys.path.append(folder)

from sloyka.src.data_getter import VKParser

In [8]:
owner_id='-129354225' # группа "центральный район за комфортную среду обитания"
token=''

In [4]:
posts_df = VKParser().run_posts(owner_id, token, 100, "2024-03-01")

2024-02-01 10:30:00
finished

In [5]:
posts_df.head(3)

,date,id,text,views.count,likes.count,reposts.count,type,link
0,2024-03-21 10:30:00,333530,"Сделайте сад Сан-Галли безопасным для граждан,...",2526,88,20,post,NaN
1,2024-03-20 19:30:00,333376,«Электросамокатная саранча» вновь повылезала н...,8431,164,23,post,NaN
2,2024-03-20 10:30:00,333265,Вот и отгуляла широкая Масленица! Наша команда...,4423,53,8,post,"https://vk.com/wall-129354225_332885|ярко,"

In [6]:
post_ids = posts_df["id"].to_list()
comments_df = VKParser().run_comments(owner_id=owner_id, post_ids=post_ids, access_token=token)

In [7]:
comments_df.head(3)

,id,date,text,post_id,parents_stack,likes.count,type
0,333531,2024-03-21 07:35:33,Отличная идея. Территории точно хватит для реа...,333530.0,[],14.0,comment
1,333532,2024-03-21 07:39:46,Ещё для ограничения движения курьеров на элект...,333530.0,[],5.0,comment
2,333576,2024-03-21 08:37:47,"[id533640320|Андрей], через узкую калитку курь...",333530.0,[333532],0.0,comment

In [10]:
step = 100
cutoff_date = '2024-03-20'
number_of_messages = 100

In [11]:
result_df = VKParser().run_parser(owner_id, your_token, step, cutoff_date, number_of_messages) #объединяем посты и комментарии в один датафрейм

2024-02-01 10:30:00
finished

In [12]:
result_df

,date,id,text,views.count,likes.count,reposts.count,type,link,post_id,parents_stack
0,2024-03-21 10:30:00,333530,"Сделайте сад Сан-Галли безопасным для граждан,...",2540.0,89,20.0,post,NaN,NaN,NaN
1,2024-03-20 19:30:00,333376,«Электросамокатная саранча» вновь повылезала н...,8447.0,164,23.0,post,NaN,NaN,NaN
2,2024-03-20 10:30:00,333265,Вот и отгуляла широкая Масленица! Наша команда...,4423.0,53,8.0,post,"https://vk.com/wall-129354225_332885|ярко,",NaN,NaN
3,2024-03-19 19:30:00,333226,На том же месте сквозь года Вот так каланча ве...,4271.0,48,11.0,post,https://vk.com/wall-129354225_325408|уплотните...,NaN,NaN
4,2024-03-19 10:30:00,333157,Мы не об этом просили! На углу Восстания и Жук...,7635.0,94,15.0,post,https://vk.com/wall-129354225_315591?access_ke...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
699,2024-02-03 15:43:25,327945,Такие проблемы де-юре решаются просто.\n\nЕсли...,NaN,3,NaN,comment,NaN,327922.0,[]
700,2024-02-03 16:03:19,327946,"Я частенько замедляю шаг, чтобы посмотреть, чт...",NaN,0,NaN,comment,NaN,327922.0,[]
701,2024-02-03 17:26:08,327955,За это время в Дубае построили самый высокий н...,NaN,1,NaN,comment,NaN,327922.0,[]
702,2024-02-04 05:04:11,327983,Готовятся к капремонту многие здания на Невско...,NaN,0,NaN,comment,NaN,327922.0,[]
703,2024-02-05 19:21:57,328211,"жаль, что не нашлось неравнодушных с канистрой...",NaN,0,NaN,comment,NaN,327922.0,[]